.Board {
  float: left;
  width: calc(100vw - 300px);
  padding: 0px 30px;
  margin-top: 40px;

  &-fullWidth {
    width: 100% !important;
  }

  input[type=text] {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    padding-left: 10px;
  }

  button {
    float: right;
    margin-top: 1rem;
    border: 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #2F80ED;
    transition: background 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background: darken(#2F80ED, 10%);
    }
  }

  &-inner {
    display: table;
    width: 100%;
    padding-top: 50px;

    &-team {
      margin-bottom: 50px;
      padding: 0px 20px;
      display: table;
      width: 50%;
      float: left;

      &-name {
        font-weight: bold;
        margin-right: 10px;
      }

      &-location {
        color: #999;
      }
    }
  }

  &-list {
    list-style: none;
    padding: 0;

    &-item {
      width: 33.3333336%;
      padding: 5px;
      display: inline-block;
      &-inner {
        padding: 7px 15px;
        cursor: pointer;
        span {
          white-space: nowrap;
          overflow: hidden;
          font-weight: 300;
          text-overflow: ellipsis;
          display: block;
        }
      }
    }
  }
}
