.Board {
  float: left;
  width: calc(100vw - 300px);
  padding: 0 60px;
  margin-top: 80px;

  @media (max-width: 600px) {
    padding: 0 10px;
  }

  .Board-inner-cheat-card {
    padding-top: 20px;
  }
  .Board-inner-green-box {
    background: #009688;
    color: #fff;
    padding: 5px;
  }

  &-fullWidth {
    width: 100% !important;
  }

  input[type=text] {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    padding-left: 10px;
  }
  .delete {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  button {
    margin-top: 1rem;
    border: 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #2F80ED;
    transition: background 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background: darken(#2F80ED, 10%);
    }
  }

  .floor {
    width: 100%;
    height: 100vh;
    margin-top: 30px;
  }

  &-inner {
    display: table;
    width: 100%;
    padding-top: 30px;



    &-floorName {
      color: #2F80ED;
      font-size: 1.5rem;
      font-weight: 300;
    }

    &-team {
      margin-bottom: 0px;
      padding: 0px 20px;
      display: table;
      width: 35%;
      float: left;

      @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 25px;
      }

      &-delete {
        margin-right: 10px;
        display: block;
        color: #999;
        font-weight: 300;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: rgb(221, 44, 0);
        }
      }

      &-name {
        font-weight: bold;
        margin-right: 10px;
        transition: all 0.1s ease-in-out;
      }

      &-location {
        color: #999;
      }
    }
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    border-top: 1.5px solid #eee;

    &-item {
      padding: 5px;
      display: inline-block;

      @media (max-width: 960px) {
        width: 50%;
      }

      @media (max-width: 600px) {
        width: 100%;
      }

      &-inner {
        padding: 7px 10px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

        span {
          white-space: nowrap;
          overflow: hidden;
          font-weight: 300;
          text-overflow: ellipsis;
          display: block;
        }
      }
    }
  }
}
