.Board {
  float: left;
  width: calc(100vw - 300px);
  padding: 0 30px;
  margin-top: 40px; }

@media (max-width: 600px) {
  .Board {
    padding: 0 10px; } }

.Board-fullWidth {
  width: 100% !important; }

.Board input[type=text] {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding-left: 10px; }

.Board button {
  float: right;
  margin-top: 1rem;
  border: 0;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: #2F80ED;
  transition: background 0.1s ease-in-out;
  cursor: pointer; }

.Board button:hover {
  background: #1366d6; }

.Board-inner {
  display: table;
  width: 100%;
  padding-top: 50px; }

.Board-inner-team {
  margin-bottom: 50px;
  padding: 0px 20px;
  display: table;
  width: 50%;
  float: left; }

@media (max-width: 600px) {
  .Board-inner-team {
    width: 100%;
    margin-bottom: 25px; } }

.Board-inner-team-delete {
  margin-right: 10px;
  display: block;
  margin-bottom: 10px;
  color: #999;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out; }

.Board-inner-team-delete:hover {
  color: #dd2c00; }

.Board-inner-team-name {
  font-weight: bold;
  margin-right: 10px;
  transition: all 0.1s ease-in-out; }

.Board-inner-team-location {
  color: #999; }

.Board-list {
  list-style: none;
  padding: 0; }

.Board-list-item {
  width: 33.3333336%;
  padding: 5px;
  display: inline-block; }

@media (max-width: 960px) {
  .Board-list-item {
    width: 50%; } }

@media (max-width: 600px) {
  .Board-list-item {
    width: 100%; } }

.Board-list-item-inner {
  padding: 7px 10px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }

.Board-list-item-inner span {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
  text-overflow: ellipsis;
  display: block; }
