.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5000;
  top: 0;
  left: 0; }

.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 600px;
  background: #fff;
  z-index: 5001; }
  @media (max-width: 600px) {
    .Modal {
      width: 100%; } }

.ModalExit {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #fff; }

.ModalHeader {
  padding: 15px;
  background: #009688;
  color: #fff; }

.ModalBody {
  padding: 15px; }
  .ModalBody ul {
    padding: 0 !important; }

.DayPicker {
  width: 100% !important;
  position: static !important;
  padding: 0 !important;
  height: 100%; }

.DayPicker-Month {
  width: 100% !important;
  margin: 0 !important; }

.DayPicker-Day--selected {
  background-color: #009688 !important;
  color: white; }
