.Header {
  padding: 15px 30px;
  background: #2F80ED;
  color: #fff;
  border-bottom:  5px solid lighten(#2F80ED, 10%);
  position: relative;
  z-index: 1;
  //box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
  display: table;
  width: 100%;

  input[type=text] {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    padding-left: 10px;
  }

  button {
    float: right;
    margin-top: 1rem;
    border: 0;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #2F80ED;
    transition: background 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background: darken(#2F80ED, 10%);
    }
  }

  .select-style {
      border: 1px solid #ccc;
      width: 100%;
      height: 40px;
      margin-top: 10px;
      border-radius: 3px;
      overflow: hidden;
      padding-left: 10px;
      background: #fafafa no-repeat 90% 50%;
  }

  &-addTeam {
    padding: 5px 20px;
    background:darken(#2F80ED, 10%);
    color: #fff;
    display: inline-block;
    float: right;
    margin-right: 35px;
    cursor: pointer;
    position: relative;
    top: 3px;
  }

  h1 {
    float: left;
    font-size: 16px;
    margin: 0;
    font-weight: 300;
    position: relative;
    top: 7px;
  }

  p {
    color: #333;
  }

  span {
    float: right;

    .icon {
      font-size: 30px;
    }
  }
}
