.Sidebar {
  width: 300px;
  position: fixed;
  background: #fff;
  height: 100vh;
  right: -300px;
  top: 60px;
  transition: right 0.3s ease-in-out;
  overflow-y: scroll;
  border-left: 1px solid #eee;
  padding: 0 20px; }
  @media (max-width: 600px) {
    .Sidebar {
      width: 80%;
      right: -80%;
      top: 53px; } }

.DisplayMenu {
  right: 0; }
  @media (max-width: 600) {
    .DisplayMenu {
      right: 80%; } }
